{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1 id="title">Edit Data Penerbit</h1>
  <p class="lead">List Penerbit</p>
  <a href="/list_penerbit" class="btn btn-primary mb-3">List Penerbit</a>
  <form
    id="edit-penerbit-form"
    method="POST"
    action="/edit_penerbit/{{ penerbit._id }}"
    class="form">
    <div class="form-group">
      <label for="nama_penerbit">Nama Penerbit</label>
      <input
        type="text"
        class="form-control"
        id="nama_penerbit"
        name="nama_penerbit"
        placeholder="Masukkan Nama Penerbit"
        value="{{ penerbit.nama_penerbit }}"
        required />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
{% endblock %}
